<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="register" text="" color="primary"></ion-back-button> <!--Si no existen paginas anteriores regr4esara al inicio -->
   </ion-buttons>
    <ion-title>indicadoresss</ion-title>
   
  </ion-toolbar>
  
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
   
     

      <ion-item >

        <ion-card color="medium">
          <ion-card-header>
            <ion-card-title>Dolar:</ion-card-title>
            <ion-card-subtitle>${{dolar}}</ion-card-subtitle>
          </ion-card-header>
        
         
        </ion-card>
       
        
      </ion-item>

      <ion-item >
       
        <ion-card color="medium">
          <ion-card-header>
            
            <ion-card-title>Euro:</ion-card-title>
            <ion-card-subtitle>${{euro}}</ion-card-subtitle>
            
          </ion-card-header>
        
         
        </ion-card>
      </ion-item>

      <ion-item >
       
        <ion-card color="medium">
          <ion-card-header>
            
            <ion-card-title>UF:</ion-card-title>
            <ion-card-subtitle>${{uf}}</ion-card-subtitle>
            
          </ion-card-header>
        
          
        </ion-card>
      </ion-item>

      <ion-item >
       
        <ion-card color="medium">
          <ion-card-header>
            
            <ion-card-title>UTM:</ion-card-title>
            <ion-card-subtitle>${{utm}}</ion-card-subtitle>
            
          </ion-card-header>
        
          
        </ion-card>
      </ion-item>

      <ion-item >
       
        <ion-card color="medium">
          <ion-card-header>
            
            <ion-card-title>Bitcoin:</ion-card-title>
            <ion-card-subtitle>${{bitcoin}}</ion-card-subtitle>
            
          </ion-card-header>
        
          
        </ion-card>
      </ion-item>
      

      
    
  </ion-list>

  
</ion-content>