<app-header titulo="Sobre nosotros"></app-header>

<ion-content>

  

  <ion-card>
    <ion-img src="../../../assets/icon/foto erick.png"></ion-img>
    <ion-card-content>
      <ion-card-header>
      <h1>Erick Araya</h1> 
      </ion-card-header>
      Estudiante de segundo año de Ingenieria Informatica en Duoc Uc sede San Joaquin, cursando el ramo de Programacion de Aplicaciones Moviles.
    </ion-card-content>
    
  </ion-card>

  <ion-card>
    <ion-img src="../../../assets/icon/marcelo vera.png"></ion-img>
    <ion-card-content>
      <ion-card-header>
      <h1>Marcelo Vera</h1> 
      </ion-card-header>
        Estudiante de segundo año de Ingenieria Informatica en Duoc Uc sede San Joaquin, cursando el ramo de Programacion de Aplicaciones Moviles.
      </ion-card-content>
    
  </ion-card>

  <ion-card>
    <ion-img src="../../../assets/icon/foto daysi.png"></ion-img>
    <ion-card-content>
      <ion-card-header>
      <h1>Daysi Vejar</h1> 
      </ion-card-header>
        Estudiante de segundo año de Ingenieria Informatica en Duoc Uc sede San Joaquin, cursando el ramo de Programacion de Aplicaciones Moviles.
      </ion-card-content>
    
  </ion-card>
  <ion-card>
    <ion-img src="../../../assets/icon/foto dempsy.png"></ion-img>
    <ion-card-content>
    <ion-card-header>
    <h1>Augusto Alonso</h1> 
    </ion-card-header>
      Estudiante de segundo año de Ingenieria Informatica en Duoc Uc sede San Joaquin, cursando el ramo de Programacion de Aplicaciones Moviles. 
    </ion-card-content>
    
  </ion-card>

</ion-content>